
body {
    background-color: #e5dbce;
    color: #452711;
    background-image:url("../pup paw.png");
    font-size: 1.2em;
}

#jumbotron {
    height: 100vh;
    background-image: url("../bonding-cold-cozy-dog-374845.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#companyTitle, #companySubTitle {
    margin-left: 85px;
    font-size: 5em;
    font-family: 'Lobster', monospace ;
    color: #e5dbce;
}

/* Background for Rows*/
#coffeeRow, #pastryRow, #dogTreatsRow {
    background-color: #86735d;
}

/* Darken HRs*/
hr{
    border: 2px solid #5A6268;
}

/* Suggestion Font size */
.suggestion {
    font-size: 1.5em;
}

/* Colors for buttons*/
.btn {
    background-color: #452711;
    color: #e5dbce;
}
.btn:hover {
    color: #e5dbce;
    border: 1px solid #e5dbce;
}

/* Color for font in select menus */
.custom-select {
    color: #452711;
}

/* Color for text inputs */
#userCoffeeName , #coffeeName, #pastryName, #userPastryName {
    color: #452711;
}

/* Font Size for Coffee Size Title */
#coffeeSizesTitle {
    font-size: 2em;
}
/* Height for images in Dog Treat Section*/
#dogCakeImg {
    height: 308px;
}

#dogPuppucinoImg {
    height: 365px;
}